  <body>
    <p></p>

<p>
  <strong>Title:</strong>
  <%= book.title.id %>
</p>

<p>
  <strong>Body:</strong>
  <%= book.body.id %>
</p>

<a class="edit" href="#">Edit</a> |
<a class="back" href="/books">Back</a>
